<h4 class='rxt-table-heading'>{{label}}</h4>
<table class='table'>
	<thead>
		{{#each subheading}}
			<th>{{heading}}</th>
		{{/each}}
	</thead>
	<tbody>
		{{renderHeadingTablePreview .}}
	</tbody>
</table>