<!--
  ~ Copyright (c) WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="asset-being-added">
</div>
<div class="asset-thumb-container">
    {{#if assets}}
        <div class="row-fluid">
            <table class="table table-striped list-asset-table">
                <thead>
                <th colspan="2"><a href="?sortby=overview_name&sort=ASC">Name <i class="icon-caret-down"></i></a></th>
                <th><a href="?sortby=overview_version&sort=ASC">Version <i class="icon-caret-down"></i></a></th>
                <th><a href="?sortby=overview_provider&sort=ASC">Owner <i class="icon-caret-down"></i></a></th>
                <th><a href="#">Status</i></a></th>
                <th><a href="?sortby=overview_createdtime&sort=DESC">Created <i class="icon-caret-down"></i></a></th>
                <th></th>
                </thead>
                <tbody id='list-asset-table-body'>
                    
                    {{> list_assets_table_body assets}}
                 
                </tbody>
            </table>
        </div>
        <div class="loading-inf-scroll"></div>
    {{else}}
            <div class="emptyAssets-MsgDiv">
                <i class="icon-frown largeMsgIcon"></i>
                
                 <p class="emptyAssets">Sorry. I couldn't find anything for you</p>
                
            </div>
    {{/if}}
</div>
