<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>



    <test name="ES-UI-tests" parallel="false" verbose="2" preserve-order="true">
        <!--<packages>-->
            <!--<package name="org.wso2.es.ui.integration.test.*"/>-->
        <!--</packages>-->
        <classes>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreRatings"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchTopAssets"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchGadgetList"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherLoginTestCase"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherListPageSortByLinksTestCase"/>
        </classes>
    </test>


</suite>
