<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>


    <test name="ES-UI-tests" parallel="false" verbose="2" preserve-order="true">
        <!--<packages>-->
        <!--<package name="org.wso2.es.ui.integration.test.*"/>-->
        <!--</packages>-->
        <classes>
            <class name="org.wso2.es.ui.integration.test.config.TestConfig"/>

            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherAddEditAssetTestCase"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherTenantAddEditAssetTestCase"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherListPageSortTestCase"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherLoginTestCase"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherLCTransitionTestCase"/>

            <class name="org.wso2.es.ui.integration.test.notifications.ESPublisherNotificationTestCase"/>
            <class name="org.wso2.es.ui.integration.test.notifications.ESPublisherTenantNotificationTestCase"/>
            <class name="org.wso2.es.ui.integration.test.notifications.ESPublisherSubscriptionTestCase"/>
            <class name="org.wso2.es.ui.integration.test.notifications.ESPublisherTenantSubscriptionTestCase"/>

            <class name="org.wso2.es.ui.integration.test.store.ESStoreAnonHomePageTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreAnonCategorySortingTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreBookmarkTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreLoginLogoutTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreGadgetPageTestCase"/>

            <class name="org.wso2.es.ui.integration.test.common.ESPublishToStore"/>
            <class name="org.wso2.es.ui.integration.test.common.ESRegisterUserTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreRatings"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchTopAssets"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchGadgetList"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherLoginTestCase"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreRatings"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchTopAssets"/>
            <class name="org.wso2.es.ui.integration.test.store.ESStoreSearchGadgetList"/>
            <class name="org.wso2.es.ui.integration.test.publisher.ESPublisherLoginTestCase"/>
        </classes>

    </test>


</suite>
