<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				<div class="span3-single">
					{{>search-single}}
				</div>
			</div>

		</div>

	</div>
</div>

