 <a href="#" id="search-dropdown-arrow" class="search-dropdown-arrow"><i class="icon-sort-down"></i></a>
<input type="text" class="span12" id="search" placeholder="Search">
<a id="search-button" class=""> <i class="icon-search"></i> </a>
<!-- dropdown -->
<div id="search-dropdown-cont" class="search-dropdown-cont">
    <a href="#" id="search-dropdown-close"><i class="icon-remove"></i></a>

    {{#each searchFields}}
    	{{name.label}}
    {{/each}}

    <button id="search-button2" class="btn span3">
        <i class="icon-search"></i>
    </button>

</div>
				