

<div class="row-fluid com-add">

	<!--
	<div class="com-left">
	<img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
	</div>-->

	<div class="span12 com-body-cont">
		<form method="post" id="com-form-post">
			<div class="row-fluid clear com-body-wrapper">
				<textarea id="com-body" class="span12"></textarea>
			</div>
			<div class="row-fluid">
				<div class="span6 com-rating-user">
					<span>Rate this asset</span>
					<span class="user-rating" data-rating="2">
						<input class="auto-submit-star" name="star2" type="radio" class="star"
						value="1"/>
						<input class="auto-submit-star" name="star2" type="radio" class="star"
						value="2"/>
						<input class="auto-submit-star" name="star2" type="radio" class="star"
						value="3"/>
						<input class="auto-submit-star" name="star2" type="radio" class="star"
						value="4"/>
						<input class="auto-submit-star" name="star2" type="radio" class="star"
						value="5"/>
					</span>
				</div>
				<div class="span6 txt-right com-post-as">
					<div class="com-alert"></div>
					<button id="btn-post">
						Post Review
					</button>

				</div>
			</div>
		</form>
	</div>
</div>
