<script>
	var target = '{{id}}';
	var user = '{{user}}'; 
</script>

{{#unless isLogged}}
<div class="com-guest">
	Please Sign in to add a Review
</div>
{{/unless}}

<div class="row-fluid com-stream">

	<div class="span12">
		<div class="row-fluid com-sort {{#unless reviews}}com-sort-hidden{{/unless}}">
			<ul>
				<li>
					<a href="#" id="newest">Newest</a>
				</li>
				<li>
					<a href="#">Oldest</a>
				</li>
				<li>
					<a href="#" class="selected">Popular</a>
				</li>
			</ul>
		</div>
		<div class="row-fluid" id="stream">
			<div class="span12">
				{{#if reviews}}
				{{#each reviews}}
				{{> activity}}
				{{/each}}
				{{else}}
				<p class="com-first-review">
					Be the first one to review!
				</p>
				{{/if}}
			</div>

		</div>
	</div>

</div>

