<module name="store" xmlns="http://wso2.org/projects/jaggery/module.xml">
   <script>
       <name>[store]/server.js</name>
       <path>scripts/server.js</path>
   </script>
    <script>
       <name>[store]/user.js</name>
       <path>scripts/user.js</path>
   </script>
    <script>
        <name>[store]/notificationManager.js</name>
        <path>scripts/notificationManager.js</path>
    </script>
    <script>
        <name>[store]/storeConstants.js</name>
        <path>scripts/storeConstants.js</path>
    </script>
</module>

