{{#if isSubscribed}}
       <a href="#" class="btn disabled btn-added">{{> top-assets-processed-text}}</a>
       {{else}}
       <a href="#" class="btn btn-primary asset-add-btn">{{>top-assets-process-text}}</a>
{{/if}}