<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				<div class="span8">
					<h2><span class="type {{#if subPage}}selType{{/if}}">{{mainPage}}</span> <span class="page">{{subPage}}</span><!--<i class="icon-angle-right"></i> Charts--></h2>
				</div>
				<div class="span4">
					<input type="text" class="span12" id="search" placeholder="Search for {{title}}">
					<a id="search-button" class="">
						<i class="icon-search"></i>
					</a>
				</div>
				<!--<div class="span9">
					<div class="row-fluid">
						
						<div class="span10">
							<input type="text" class="span12" id="search" placeholder="">
						</div>
					</div>

				</div>
				<div class="span3">
					<a id="search-button" class="">
						<i class="icon-search"></i>
					</a>
				</div>-->
			</div>

		</div>

	</div>
</div>